---
import client, { query } from '../../graphql';

const { data } = await client.query({ query });
console.log(data)
// const pages = data.nodeQuery.entities;
---

<!-- <ul>
  {pages.map((page) => (
    <li>{page.entityLabel}</li>
  ))}
</ul> -->