@import '../../helpers';
.youtube-block{
  margin:30px auto;
  width:96%;
  iframe{
    width: 100%;
    height:664px;
  }
}
@media(max-width: $lg){
  .youtube-block{
    iframe{
      height:450px;
    }
  }
}
@media(max-width: $md){
  .youtube-block{
    margin-top:50px;
    iframe{
      height:350px;
    }
  }
}
@media(max-width: $sm){
  .youtube-block{
    iframe{
      height:200px;
    }
  }
}